#Appdiv{height: 630px ; width: auto; text-align: center; padding-top: 40px}
button{border: 1px Solid; background-color: rgb(53, 56, 233); border-radius: 5px; font-size: large;
margin-left: 10px;}
input{text-align: center;}